body {
  background-color: #444;
}

.panel-container {
  display: inline-block;
  vertical-align: top;
}

#editor-container {
  width:40%;
  height:98%;

  .CodeMirror {
    height: 100%;
    font-family: 'Consolas', monospace;
    font-size: 11pt;
  }
}

.term-panel {
  width: 58%;
  height: 98%;
}
